<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% tickets.forEach(function(ticket) { %>
        <% if (id == ticket.id) { %>
    <title>Chat with <%= (ticket.user == username) ? 'admin' : ticket.user %></title>
</head>
<body>
    <h1>Chat with <%= (ticket.user == username) ? 'admin' : ticket.user %></h1>
    <h2>about ticket : # <%=ticket.id%></h2>
    <h3>Title <%=ticket.title%></h3>
    <div id="messages">
        <% messages.forEach(function(message) { %>
            <% if (message.ticketId == ticket.id) { %>
                <% if (message.sender == username) { %>
                    <div class="message">
                        <p class="message-text"><%= message.text %></p>
                        <p class="message-sender">You</p>
                    </div>
                <% } else { %>
                    <div class="message">
                        <p class="message-text"><%= message.text %></p>
                        <p class="message-sender"><%= message.sender %></p>
                    </div>
                <% } %>
            <% } %>
        <% }) %>
</body>
</html>
<% } %>
<% }) %>
