<!DOCTYPE html>
<html>
  <head>
    <title>Tickets</title>
  </head>
  <body>
    <%- include('components/header') %>
    <h1>Tickets for <%= user %></h1>
    <table>
      <tbody>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Description</th>
              <th>Status</th>
              <th>Image</th>
              <th>View</th>
            </tr>
          </thead>
          <tbody>
            <% if (tickets.length > 0) { %> <% tickets.forEach(function(ticket)
            { %> <% if (ticket.user == user) { %>
            <tr>
              <td><%= ticket.id %></td>
              <td><%= ticket.title %></td>
              <td><%= ticket.desc %></td>
              <td><%= ticket.status %></td>
              <td>
                <img
                  src="/tupload/<%= ticket.ticimg %>"
                  alt="Ticket Image"
                  width="100px"
                />
              </td>
            <td>
                <button style="background-color: #4CAF50; color: white; padding: 8px 16px; border: none; cursor: pointer; border-radius: 4px;">
                    <a href="/ticket/<%= ticket.id %>" style="text-decoration: none; color: white;">View</a>
                </button>
            </td>
            </tr>
          </tbody>
          <% } %> <% }); %> <% } else { %>
          <p>You have no tickets.</p>
          <% } %>
        </table>
      </tbody>
    </table>
  </body>
</html>
